
Logs.xcodeproj/xcuserdata/manoj.gubba.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcsettings
Logs.xcodeproj/project.pbxproj
Logs.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Logs.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Logs.xcodeproj/xcuserdata/manoj.gubba.xcuserdatad/xcschemes/xcschememanagement.plist
Logs/Logs.xcdatamodeld/DataEntryModel.xcdatamodel/contents
